In [1]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import pandas as pd

df = pd.read_csv("salaries_modified.csv")

# df will be imported with the next 6 cells already processed and exported to the file
# do not need to run these 6 cells again

In [2]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Unnamed: 0,Unnamed: 0.1,timestamp,company,level,title,totalyearlycompensation,yearsofexperience,yearsatcompany,stockgrantvalue,bonus,city,state,country,city_state,distance_NY,distance_SF,distance_seattle
0,0,745,2018-06-05 14:06:30,LinkedIn,5.0,Data Scientist,233.0,4.0,0.0,220.0,10.0,San Francisco,CA,US,San Francisco%20CCA,4680488.0,110.0,1297072.0
1,1,772,2018-06-08 00:29:47,Amazon,4.0,Data Scientist,140.0,2.0,2.0,48.0,0.0,Seattle,WA,US,Seattle%20CWA,4606061.0,1296231.0,798.0
2,2,776,2018-06-08 09:49:25,Microsoft,64.0,Data Scientist,218.0,11.0,11.0,28.0,23.0,Seattle,WA,US,Seattle%20CWA,4606061.0,1296231.0,798.0
3,3,782,2018-06-08 17:55:09,ebay,26.0,Data Scientist,180.0,10.0,5.0,0.0,0.0,San Jose,CA,US,San Jose%20CCA,4733129.0,75992.0,1349713.0
4,4,796,2018-06-10 19:39:35,Twitter,4.0,Data Scientist,500.0,4.0,4.0,280.0,20.0,San Francisco,CA,US,San Francisco%20CCA,4680488.0,110.0,1297072.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2055 non-null   int64
 1   Unnamed: 0.1             2055 non-null   int64
 2   timestamp                2055 non-null   object
 3   company                  2055 non-null   object
 4   level                    2055 non-null   float64
 5   title                    2055 non-null   object
 6   totalyearlycompensation  2055 non-null   float64
 7   yearsofexperience        2055 non-null   float64
 8   yearsatcompany           2055 non-null   float64
 9   stockgrantvalue          2055 non-null   float64
 10  bonus                    2055 non-null   float64
 11  city                     2055 non-null   object
 12  state                    2055 non-null   object
 13  country                  2055 non-null   object
 14  city_state               2055 non-null   object
 15  distance_NY              2055 non-null   float64
 16  distance_SF              2055 non-null   float64
 17  distance_seattle         2055 non-null   float64
dtypes: float64(9), int64(2), object(7)
memory usage: 305.0+ KB

In [4]:
def clean_dist(dist):
    if dist == 'None':
        return None
    try:
        return int(dist)
    except:
        return None

In [5]:
for col in ['distance_NY', 'distance_SF', 'distance_seattle']:
    df[col]=df[col].apply(lambda x: clean_dist(x))

In [6]:
for col in ['distance_NY','distance_SF','distance_seattle']:
    df = df[df[col].notnull()].copy()

In [7]:
df.to_csv("salaries_modified.csv")

In [8]:
# Set features. This will also be used as your x values.
selected_features = df[['level', 'yearsofexperience', 'yearsatcompany', 'distance_NY', 'bonus', 'stockgrantvalue', 'distance_SF', 'distance_seattle']]

In [9]:
selected_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   level              2055 non-null   float64
 1   yearsofexperience  2055 non-null   float64
 2   yearsatcompany     2055 non-null   float64
 3   distance_NY        2055 non-null   int64
 4   bonus              2055 non-null   float64
 5   stockgrantvalue    2055 non-null   float64
 6   distance_SF        2055 non-null   int64
 7   distance_seattle   2055 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 144.5 KB

## Resume running cells here

In [10]:
selected_features = selected_features[selected_features.notnull()].copy()
selected_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   level              2055 non-null   float64
 1   yearsofexperience  2055 non-null   float64
 2   yearsatcompany     2055 non-null   float64
 3   distance_NY        2055 non-null   int64
 4   bonus              2055 non-null   float64
 5   stockgrantvalue    2055 non-null   float64
 6   distance_SF        2055 non-null   int64
 7   distance_seattle   2055 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 144.5 KB

In [11]:
selected_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   level              2055 non-null   float64
 1   yearsofexperience  2055 non-null   float64
 2   yearsatcompany     2055 non-null   float64
 3   distance_NY        2055 non-null   int64
 4   bonus              2055 non-null   float64
 5   stockgrantvalue    2055 non-null   float64
 6   distance_SF        2055 non-null   int64
 7   distance_seattle   2055 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 144.5 KB

In [12]:
import numpy as np
inf_df = selected_features.isin([np.inf, -np.inf])
len(inf_df)

2055

In [13]:
selected_features.head()

,level,yearsofexperience,yearsatcompany,distance_NY,bonus,stockgrantvalue,distance_SF,distance_seattle
0,5.0,4.0,0.0,4680488,10.0,220.0,110,1297072
1,4.0,2.0,2.0,4606061,0.0,48.0,1296231,798
2,64.0,11.0,11.0,4606061,23.0,28.0,1296231,798
3,26.0,10.0,5.0,4733129,0.0,0.0,75992,1349713
4,4.0,4.0,4.0,4680488,20.0,280.0,110,1297072

In [14]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,level,totalyearlycompensation,yearsofexperience,yearsatcompany,stockgrantvalue,bonus,distance_NY,distance_SF,distance_seattle
count,2055.000000,2055.000000,2055.000000,2055.000000,2055.000000,2055.000000,2055.000000,2055.000000,2.055000e+03,2.055000e+03,2.055000e+03
mean,1027.848175,31790.884672,14.421898,221.609732,5.027251,2.036667,46.851582,18.511436,3.493419e+06,1.605568e+06,1.932465e+06
std,593.594886,18164.814512,48.636267,105.692401,4.026233,2.237007,66.050664,20.766348,1.824317e+06,1.788747e+06,1.625972e+06
min,0.000000,745.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,1.000700e+04,1.100000e+02,7.980000e+02
25%,514.500000,16258.500000,4.000000,150.000000,2.000000,0.100000,0.000000,3.000000,2.076857e+06,5.239400e+04,1.297072e+06
50%,1028.000000,31591.000000,5.000000,200.000000,4.000000,2.000000,28.000000,15.000000,4.606061e+06,1.296231e+06,1.348731e+06
75%,1541.500000,48258.000000,6.000000,260.000000,7.000000,3.000000,60.000000,25.000000,4.680488e+06,3.100688e+06,3.363231e+06
max,2055.000000,62610.000000,603.000000,1000.000000,34.000000,20.000000,700.000000,350.000000,4.796489e+06,4.977621e+06,5.305593e+06

In [15]:

X = selected_features
y = df.totalyearlycompensation
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1, test_size=0.2)

In [16]:
X.shape

(2055, 8)

In [17]:
y.shape

(2055,)

In [18]:
y.head

<bound method NDFrame.head of 0       233.0
1       140.0
2       218.0
3       180.0
4       500.0
        ...
2050    250.0
2051    145.0
2052    110.0
2053    120.0
2054    233.0
Name: totalyearlycompensation, Length: 2055, dtype: float64>

In [19]:
X.dtypes

level                float64
yearsofexperience    float64
yearsatcompany       float64
distance_NY            int64
bonus                float64
stockgrantvalue      float64
distance_SF            int64
distance_seattle       int64
dtype: object

In [20]:

sc_X = StandardScaler()
X_trainscaled=sc_X.fit_transform(X_train)
X_testscaled=sc_X.transform(X_test)

In [21]:
np.where(np.isnan(X_trainscaled))

(array([], dtype=int64), array([], dtype=int64))

In [22]:
reg = MLPRegressor(hidden_layer_sizes=(200,100,50),activation="relu" ,
                   random_state=42, learning_rate='adaptive', max_iter=2000, solver='adam', early_stopping=True).fit(X_trainscaled, y_train)

In [23]:
parameter_space = {
    'hidden_layer_sizes': [(50,50,50), (50,100,50), (100,)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
}

In [24]:
from sklearn.metrics import mean_absolute_error
y_pred=reg.predict(X_testscaled)
print("The Score with ", (mean_absolute_error(y_pred, y_test)))

The Score with  27.059220878415857

In [25]:
reg1 = MLPRegressor(hidden_layer_sizes=(200,100,50),activation="relu" ,
                   random_state=42, learning_rate='adaptive', max_iter=2000, solver='adam', early_stopping=True)

In [26]:
from sklearn.model_selection import RandomizedSearchCV

rs = RandomizedSearchCV(reg1, param_distributions = {
    'hidden_layer_sizes': [(50,50,50), (50,100,50), (100,)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.01, 0.001, 0.0001, .1, 0.05],
    'learning_rate': ['constant','adaptive'],
    'max_iter': [1000,2000]},
    random_state=42
)

result = rs.fit(X_trainscaled, y_train)

/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_base.py:174: RuntimeWarning: overflow encountered in square
  return ((y_true - y_pred) ** 2).mean() / 2
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_base.py:174: RuntimeWarning: overflow encountered in square
  return ((y_true - y_pred) ** 2).mean() / 2
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_base.py:174: RuntimeWarning: overflow encountered in square
  return ((y_true - y_pred) ** 2).mean() / 2
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/extmath.py:153: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 427, in _fit
    self._fit_stochastic(
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 661, in _fit_stochastic
    self._update_no_improvement_count(early_stopping, X_val, y_val)
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 709, in _update_no_improvement_count
    self.validation_scores_.append(self.score(X_val, y_val))
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/base.py", line 701, in score
    return r2_score(y, y_pred, sample_weight=sample_weight)
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/metrics/_regression.py", line 774, in r2_score
    y_type, y_true, y_pred, multioutput = _check_reg_targets(
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/metrics/_regression.py", line 91, in _check_reg_targets
    y_pred = check_array(y_pred, ensure_2d=False, dtype=dtype)
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/validation.py", line 792, in check_array
    _assert_all_finite(array, allow_nan=force_all_finite == "allow-nan")
  File "/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/utils/validation.py", line 114, in _assert_all_finite
    raise ValueError(
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/iSabyasachi/opt/anaconda3/envs/Python3-8/lib/python3.8/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [-6.82718255e-03 -6.82745129e-03  6.14434215e-01  1.87174958e-01
 -7.20038632e-04             nan  7.86403750e-01 -7.20289053e-04
  4.70781700e-02  7.87142778e-01]
  warnings.warn(

In [31]:
best_params = result.best_params_

In [32]:
best_params

{'solver': 'adam',
 'max_iter': 2000,
 'learning_rate': 'adaptive',
 'hidden_layer_sizes': (100,),
 'alpha': 0.01,
 'activation': 'relu'}

In [33]:
y_test_preds = rs.predict(X_testscaled)
mean_absolute_error(y_test_preds, y_test)

26.628635055208914

# model is result
# scalar is sc_X

In [30]:
from pickle import dump
model = 'model_artifacts/model.pkl'
scalar = 'model_artifacts/scalar.pkl'
dump(result, open(model, 'wb'))
dump(sc_X, open(scalar, 'wb'))