In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import pandas as pd

df = pd.read_csv("salaries_modified.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,timestamp,company,level,title,totalyearlycompensation,yearsofexperience,yearsatcompany,stockgrantvalue,bonus,city,state,country,city_state,distance_NY,distance_SF,distance_seattle
0,0,0,745,2018-06-05 14:06:30,LinkedIn,5.0,Data Scientist,233.0,4.0,0.0,220.0,10.0,San Francisco,CA,US,San Francisco%20CCA,4680488,110,1297072
1,1,1,772,2018-06-08 00:29:47,Amazon,4.0,Data Scientist,140.0,2.0,2.0,48.0,0.0,Seattle,WA,US,Seattle%20CWA,4606061,1296231,798
2,2,2,776,2018-06-08 09:49:25,Microsoft,64.0,Data Scientist,218.0,11.0,11.0,28.0,23.0,Seattle,WA,US,Seattle%20CWA,4606061,1296231,798
3,3,3,782,2018-06-08 17:55:09,ebay,26.0,Data Scientist,180.0,10.0,5.0,0.0,0.0,San Jose,CA,US,San Jose%20CCA,4733129,75992,1349713
4,4,4,796,2018-06-10 19:39:35,Twitter,4.0,Data Scientist,500.0,4.0,4.0,280.0,20.0,San Francisco,CA,US,San Francisco%20CCA,4680488,110,1297072

In [2]:
def clean_dist(dist):
    if dist == 'None':
        return None
    try:
        return int(dist)
    except:
        return None

In [3]:
for col in ['distance_NY', 'distance_SF', 'distance_seattle']:
    df[col]=df[col].apply(lambda x: clean_dist(x))

In [4]:
for col in ['distance_NY','distance_SF','distance_seattle']:
    df = df[df[col].notnull()].copy()

In [5]:
# Set features. This will also be used as your x values.
selected_features = df[['level', 'yearsofexperience', 'yearsatcompany', 'stockgrantvalue', 'bonus', 'distance_NY', 'distance_SF', 'distance_seattle']]

In [6]:
import numpy as np
inf_df = selected_features.isin([np.inf, -np.inf])
len(inf_df)

2055

In [7]:
X = selected_features
y = df.totalyearlycompensation 
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1, test_size=0.2)

In [8]:
regr = RandomForestRegressor(max_depth=2, random_state=0)

In [9]:
regr.fit(X, y)

RandomForestRegressor(max_depth=2, random_state=0)

In [10]:
from sklearn.model_selection import RandomizedSearchCV

rs = RandomizedSearchCV(regr, param_distributions = {
    'max_depth': [2, 80, 90, 500],
    'min_samples_leaf' : [1, 5, 10],
    },
    random_state=42
)

result = rs.fit(X_train, y_train)

In [11]:
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, random_state=0)

In [12]:
sc_X = StandardScaler()
X_trainscaled=sc_X.fit_transform(X_train)
X_testscaled=sc_X.transform(X_test)

In [13]:
RandomForestRegressor

sklearn.ensemble._forest.RandomForestRegressor

In [14]:
from sklearn.metrics import mean_absolute_error
y_pred=regr.predict(X_test)
print("The Score with ", (mean_absolute_error(y_pred, y_test)))

The Score with  37.46000715507974

In [15]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'your_name.sav'
joblib.dump(your_model, filename)

NameError: name 'your_model' is not defined